* {
    box-sizing: border-box;
    text-align: center;
    background: #777;
    margin: auto;
    position: relative; 
    top: 5px;
  }
  
  body {
    font-family: arial, 'helvetica neue', helvetica, sans-serif;
    font-size: 18px;
    width: 960px;
    color: #777;
    background: #777;
    
  }

  header {
    padding: 40px;
    margin-bottom: 10px;
    background: #ebebeb;
    
  }

  #nav {
    padding: 40px;
    margin-bottom: 15px;
    background: #ebebeb;
    
  }

  #section {
    float: left;
    padding: 25px;
    background: #ebebeb;
    width: 495px;
    height: 275px;
    margin-right: 5px;
  
  }

  #article {
    width: 475px;
    height: 195px;
    padding: 20px;
    margin: 10px;
    color: #ebebeb;
    position: relative; 
    right: 25px;
    top:15px;
    
}
   h3 {
    padding: 15px;
    margin: 15px 0px 0px 0px;
    background-color: #ebebeb;
    color: #777;
}

   #p {
    padding: 15px;
    margin: 10px 0px 0px 0px;
    background-color: #ebebeb;
    color: #777
}

  aside {
    float: right;
    width: 445px;
    height: 275px;
    padding: 30px;
    background: #ebebeb;
}  
  #footer {
    clear: both;
    padding: 40px;
    margin: 20px;
    width: 960px;
    background: #ebebeb;
    position: relative; 
    right: 20px;
    top: 30px;
  }
 
  h4 {
    font-weight: normal;
    background-color: #ebebeb;
  }
  
  